.company-details {
  background-color: #f9fafb;
  padding: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 0.9rem;

    input,
    textarea {
      margin-top: 0.25rem;
      padding: 0.5rem;
      font-size: 0.9rem;
      border: 1px solid #d1d5db;
      border-radius: 4px;
    }
  }
}
